<div class="navbar">
  <span>Bookmarks</span>
  {% if request.user.is_authenticated %}
    <a {% if section == "dashboard" %}class="selected"{% endif %} href="{% url 'dashboard' %}">My dashboard</a>
    <a {% if section == "images" %}class="selected"{% endif %} href="{% url 'images:list' %}">Images</a>
    <a {% if section == "people" %}class="selected"{% endif %} href="{% url 'user_list' %}">People</a>

  {% endif %}
  <div class="dropdown">
    {% if request.user.is_authenticated %}
      
        <button class="dropbtn">{{request.user.get_full_name}} 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="{{request.user.get_absolute_url}}">profile</a>
          <a href="{% url 'edit' %}">Edit profile</a>
          <a href="{% url 'password_change' %}">Change password</a>
          <a href="{% url 'logout' %}">Logout</a>
        </div>
      
    {% else %}
      <a href="{% url 'login' %}">Log-in</a>
    {% endif %}
  </div>
</div>